---
http_interactions:
- request:
    method: post
    uri: http://impact.brighterplanet.com/rail_trips.json
    body:
      encoding: US-ASCII
      string: distance=25&key=carbon_test
    headers:
      content-type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    body:
      encoding: US-ASCII
      string: ! '{"compliance":[],"decisions":{"carbon":{"description":"1.6 kg","object":{"value":1.591120530585631,"units":"kilograms"},"methodology":"from
        distance, co2 emission factor, date, and timeframe"},"co2_emission_factor":{"description":"0.06364482122342524","object":0.06364482122342524,"methodology":"default"},"diesel_consumption":{"description":"0.21907300727691037","object":0.21907300727691037,"methodology":"from
        distance and diesel intensity"},"electricity_consumption":{"description":"2.7016838001565997","object":2.7016838001565997,"methodology":"from
        distance and electricity intensity"},"diesel_intensity":{"description":"0.008762920291076415","object":0.008762920291076415,"methodology":"default"},"electricity_intensity":{"description":"0.10806735200626398","object":0.10806735200626398,"methodology":"default"},"speed":{"description":"32.49720001220703","object":32.49720001220703,"methodology":"default"},"date":{"description":"2012-01-01","object":"2012-01-01","methodology":"from
        timeframe"}},"emitter":"RailTrip","equivalents":{"cars_off_the_road_for_a_year":0.00028958393656658486,"cars_off_the_road_for_a_month":0.003471824997737847,"cars_off_the_road_for_a_week":0.015044044616687142,"cars_off_the_road_for_a_day":0.10559630513284599,"cars_to_priuses_for_a_year":0.0005791678731331697,"cars_to_priuses_for_a_month":0.006943649995475694,"cars_to_priuses_for_a_week":0.030088089233374284,"cars_to_priuses_for_a_day":0.21119261026569197,"one_way_domestic_flight":0.005171141724403301,"round_trip_domestic_flight":0.0025855708622016505,"one_way_cross_country_flight":0.0018170596459287907,"round_trip_cross_country_flight":0.0009085298229643953,"vegan_meals_instead_of_non_vegan_ones":1.2803540063953598,"days_of_veganism":0.4267846687984532,"weeks_of_veganism":0.06096855649098021,"months_of_veganism":0.014226208663966126,"years_of_veganism":0.0011694735899804387,"barrels_of_petroleum":0.003700946354142178,"canisters_of_bbq_propane":0.0662972191479115,"railroad_cars_full_of_coal":7.955602652928155e-06,"homes_energy_in_a_year":0.00015433869146680622,"homes_energy_in_a_month":0.0018441086949487465,"homes_energy_in_a_week":0.007989016184070455,"homes_energy_in_a_day":0.05608222534155174,"homes_electricity_in_a_year":0.00023389471799608775,"homes_electricity_in_a_month":0.002798781013300125,"homes_electricity_in_a_week":0.01212752068412368,"homes_electricity_in_a_day":0.08512335726580067,"homes_with_lowered_thermostat_2_degrees_for_a_winter":0.008351791665043977,"homes_with_raised_thermostat_3_degrees_for_a_summer":0.0037550444521820894,"replaced_refrigerators":0.0016022583742997306,"loads_of_cold_laundry":0.7296274127464082,"lightbulbs_for_a_year":0.002937208499461075,"lightbulbs_for_a_month":0.0357445227196062,"lightbulbs_for_a_week":0.15318990244372338,"lightbulbs_for_a_day":1.0723340904676555,"lightbulbs_for_an_evening":6.434006133926463,"lightbulbs_to_CFLs_for_a_day":18.25250097972033,"lightbulbs_to_CFLs_for_a_week":2.6074996853541816,"lightbulbs_to_CFLs_for_a_month":0.6084174418469254,"lightbulbs_to_CFLs_for_a_year":0.0500073271557758,"days_with_lightbulbs_to_CFLs":0.40561162789795024,"weeks_with_lightbulbs_to_CFLs":0.05794383636233692,"months_with_lightbulbs_to_CFLs":0.013519751148386105,"years_with_lightbulbs_to_CFLs":0.0011106021303487707,"recycled_kgs_of_trash":1.0973242295210335,"recycled_bags_of_trash":0.6080228439553401},"methodology":"http://impact.brighterplanet.com/rail_trips?distance=25&timeframe=2012-01-01%2F2013-01-01","scope":"The
        rail trip emission estimate is the anthropogenic emissions per passenger from
        rail fuel combustion. It includes includes CO2 emissions from direct fuel
        combustion and indirect fuel combustion to generate purchased electricity.","timeframe":"2012-01-01/2013-01-01","characteristics":{"distance":{"description":"25.0
        km","object":{"value":25.0,"units":"kilometres"}}},"errors":["API key \"carbon_test\"
        could not be verified. Please register at http://keys.brighterplanet.com"]}'
  recorded_at: Fri, 08 Jun 2012 21:06:18 GMT
[...]
- request:
    method: post
    uri: http://impact.brighterplanet.com/flights.json
    body:
      encoding: US-ASCII
      string: origin_airport=IAH&destination_airport=DEN&segments_per_trip=1&trips=1&key=carbon_test
    headers:
      content-type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    body:
      encoding: US-ASCII
      string: ! '{"compliance":[],"decisions":{"carbon":{"description":"242.5 kg","object":{"value":242.52347122248426,"units":"kilograms"},"methodology":"from
        fuel use and greenhouse gas emission factor"},"ghg_emission_factor":{"description":"5.15214","object":5.15214,"methodology":"from
        fuel and aviation multiplier"},"aviation_multiplier":{"description":"2.0","object":2.0,"methodology":"default"},"energy":{"description":"1771.2
        MJ","object":{"value":1771.178169585269,"units":"megajoules"},"methodology":"from
        fuel use and fuel"},"fuel_use":{"description":"47.072375987935935","object":47.072375987935935,"methodology":"from
        fuel per segment, segments per trip, trips, freight_share, passengers, seat
        class multiplier, fuel, date, and timeframe"},"fuel_per_segment":{"description":"5891.4023971685265","object":5891.4023971685265,"methodology":"from
        adjusted distance per segment and fuel use coefficients"},"seat_class_multiplier":{"description":"1.0","object":1.0,"methodology":"default"},"distance_class":{"description":"short
        haul","object":{"flight_distance_class":{"distance":1108.0,"distance_units":"kilometres","max_distance":3700.0,"max_distance_units":"kilometres","min_distance":0.0,"min_distance_units":"kilometres","name":"short
        haul"}},"methodology":"from adjusted distance per segment"},"adjusted_distance_per_segment":{"description":"802.3565814689595","object":802.3565814689595,"methodology":"from
        adjusted distance and segments per trip"},"adjusted_distance":{"description":"802.3565814689595","object":802.3565814689595,"methodology":"from
        distance, route inefficiency factor, and dogleg factor"},"distance":{"description":"749.8659639896817","object":749.8659639896817,"methodology":"from
        airports"},"route_inefficiency_factor":{"description":"1.07","object":1.07,"methodology":"from
        country"},"dogleg_factor":{"description":"1.0","object":1.0,"methodology":"from
        segments per trip"},"fuel_use_coefficients":{"description":"Fuel use equation","object":{"m3":6.230164366685055e-08,"m2":-4.0923005200593856e-05,"m1":5.808528552865584,"b":1225.0553711164655},"methodology":"from
        cohort"},"fuel":{"description":"Jet Fuel","object":{"fuel":{"biogenic_fraction":0.0,"carbon_content":18.672,"carbon_content_units":"grams_per_megajoule","co2_biogenic_emission_factor":0.0,"co2_biogenic_emission_factor_units":"kilograms_per_litre","co2_emission_factor":2.57607,"co2_emission_factor_units":"kilograms_per_litre","density":0.8156,"density_units":"kilograms_per_litre","energy_content":37.6267,"energy_content_units":"megajoules_per_litre","name":"Jet
        Fuel","oxidation_factor":1.0,"physical_units":null}},"methodology":"default"},"passengers":{"description":"152","object":152,"methodology":"from
        seats and load factor"},"seats":{"description":"174.52327350140772","object":174.52327350140772,"methodology":"from
        cohort"},"load_factor":{"description":"0.8695368648330599","object":0.8695368648330599,"methodology":"from
        cohort"},"freight_share":{"description":"0.009468621447370996","object":0.009468621447370996,"methodology":"from
        cohort"},"country":{"description":"US","object":{"country":{"automobile_city_speed":32.0259,"automobile_city_speed_units":"kilometres_per_hour","automobile_fuel_efficiency":9.2669,"automobile_fuel_efficiency_units":"kilometres_per_litre","automobile_highway_speed":91.8935,"automobile_highway_speed_units":"kilometres_per_hour","automobile_trip_distance":16.3348,"automobile_trip_distance_units":"kilometres","automobile_urbanity":0.43,"cooling_degree_days":882.0,"cooling_degree_days_units":"degrees_celsius","electricity_emission_factor":0.589455,"electricity_emission_factor_units":"kilograms_co2e_per_kilowatt_hour","electricity_loss_factor":0.0615633,"flight_route_inefficiency_factor":1.07,"heating_degree_days":2159.0,"heating_degree_days_units":"degrees_celsius","iso_3166_alpha_3_code":"USA","iso_3166_code":"US","iso_3166_numeric_code":840,"lodging_district_heat_intensity":1.7463,"lodging_district_heat_intensity_units":"megajoules_per_occupied_room_night","lodging_electricity_intensity":32.906,"lodging_electricity_intensity_units":"kilowatt_hours_per_occupied_room_night","lodging_fuel_oil_intensity":0.412389,"lodging_fuel_oil_intensity_units":"gallons_per_occupied_room_night","lodging_natural_gas_intensity":1.93316,"lodging_natural_gas_intensity_units":"cubic_metres_per_occupied_room_night","lodging_occupancy_rate":0.601,"name":"United
        States","rail_passengers":4467000000.0,"rail_speed":32.4972,"rail_speed_units":"kilometres_per_hour","rail_trip_co2_emission_factor":0.0957617,"rail_trip_co2_emission_factor_units":"kilograms_per_passenger_kilometre","rail_trip_diesel_intensity":0.0194247,"rail_trip_diesel_intensity_units":"litres_per_passenger_kilometre","rail_trip_distance":12.9952,"rail_trip_distance_units":"kilometres","rail_trip_electricity_intensity":0.140512,"rail_trip_electricity_intensity_units":"kilowatt_hours_per_passenger_kilometre"}},"methodology":"from
        origin airport and destination airport"},"cohort":{"description":"BrighterPlanet::Flight::ImpactModel::FlightSegmentCohort","object":{"members":108,"sql":"SELECT
        * FROM `flight_segments`  WHERE (`flight_segments`.`source` = ''BTS T100''
        AND `flight_segments`.`year` IN (2011, 2012) AND `flight_segments`.`passengers`
        > 0) AND `flight_segments`.`origin_airport_iata_code` = ''IAH'' AND `flight_segments`.`destination_airport_iata_code`
        = ''DEN''"},"methodology":"from segments per trip and input"},"date":{"description":"2012-01-01","object":"2012-01-01","methodology":"from
        timeframe"}},"emitter":"Flight","equival[...]
[...]
- request:
    method: post
    uri: http://impact.brighterplanet.com/residences.json
    body:
      encoding: US-ASCII
      string: bathrooms=4&key=carbon_test
    headers:
      content-type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    body:
      encoding: US-ASCII
      string: ! '{"compliance":[],"decisions":{"carbon":{"description":"3838.4 kg","object":{"value":3838.3653959969083,"units":"kilograms"},"methodology":"from
        fuel and electricity use and occupation and residents"},"fuel_oil_consumed":{"description":"199.0748055102","object":199.0748055102,"methodology":"from
        research"},"natural_gas_consumed":{"description":"42683876171.345726","object":42683876171.345726,"methodology":"from
        research"},"propane_consumed":{"description":"183.25178426979997","object":183.25178426979997,"methodology":"from
        research"},"biomass_consumed":{"description":"3798201078.0000005","object":3798201078.0000005,"methodology":"from
        research"},"kerosene_consumed":{"description":"4.0503906046","object":4.0503906046,"methodology":"from
        research"},"coal_consumed":{"description":"2.871239704507795","object":2.871239704507795,"methodology":"from
        research"},"dirty_electricity_generated":{"description":"11458.237337445968","object":11458.237337445968,"methodology":"from
        electricity generated and green electricity"},"green_electricity":{"description":"0.0","object":0.0,"methodology":"default"},"electricity_generated":{"description":"11458.237337445968","object":11458.237337445968,"methodology":"from
        electricity used and loss rate"},"electricity_used":{"description":"10752.83","object":10752.83,"methodology":"from
        research"},"missing_annual_energy":{"description":"0","object":0,"methodology":"from
        fuel reports"},"electricity_loss_rate":{"description":"0.06156333794384499","object":0.06156333794384499,"methodology":"default"},"electricity_emission_factor":{"description":"0.5894551291830981","object":0.5894551291830981,"methodology":"default"},"occupation":{"description":"0.937","object":0.937,"methodology":"default"},"residents":{"description":"2.57","object":2.57,"methodology":"default"},"air_conditioner_use":{"description":null,"object":{"air_conditioner_use":{"fugitive_emission":0.4994479354338,"fugitive_emission_units":"kilograms_per_square_metre","name":null}},"methodology":"default"},"predicted_fuel_shares":{"description":"{:fuel_oil=>0.4167932348735287,
        :natural_gas=>0.1613371886801841, :propane=>0.2526592181590731, :kerosene=>0.008254483207514767,
        :biomass=>0.014356500368116514, :coal=>0.0002819952840317706, :electricity=>0.14631737942755108}","object":{"fuel_oil":0.4167932348735287,"natural_gas":0.1613371886801841,"propane":0.2526592181590731,"kerosene":0.008254483207514767,"biomass":0.014356500368116514,"coal":0.0002819952840317706,"electricity":0.14631737942755108},"methodology":"from
        research"},"predicted_annual_energy_consumption":{"description":"264563158193.84476","object":264563158193.84476,"methodology":"from
        research"},"predicted_annual_fuel_oil_consumption":{"description":"199.0748055102","object":199.0748055102,"methodology":"default"},"predicted_annual_natural_gas_consumption":{"description":"42683876171.345726","object":42683876171.345726,"methodology":"default"},"predicted_annual_propane_consumption":{"description":"183.2517842698","object":183.2517842698,"methodology":"default"},"predicted_annual_kerosene_consumption":{"description":"4.0503906046","object":4.0503906046,"methodology":"default"},"predicted_annual_biomass_consumption":{"description":"3798201078.0","object":3798201078.0,"methodology":"default"},"predicted_annual_coal_consumption":{"description":"2.871239704507795","object":2.871239704507795,"methodology":"default"},"predicted_annual_electricity_use":{"description":"10752.83","object":10752.83,"methodology":"default"},"active_subtimeframe":{"description":"2012-01-01/2013-01-01","object":"2012-01-01/2013-01-01","methodology":"from
        acquisition and retirement"},"acquisition":{"description":"2012-01-01","object":"2012-01-01","methodology":"from
        retirement"},"retirement":{"description":"2013-01-01","object":"2013-01-01","methodology":"from
        acquisition"},"floorspace_estimate":{"description":"214.47688717440002","object":214.47688717440002,"methodology":"default"}},"emitter":"Residence","equivalents":{"cars_off_the_road_for_a_year":0.6985825020714374,"cars_off_the_road_for_a_month":8.375313294065254,"cars_off_the_road_for_a_week":36.291744819150765,"cars_off_the_road_for_a_day":254.7369578707308,"cars_to_priuses_for_a_year":1.3971650041428747,"cars_to_priuses_for_a_month":16.75062658813051,"cars_to_priuses_for_a_week":72.58348963830153,"cars_to_priuses_for_a_day":509.[...]
[...]
- request:
    method: post
    uri: http://impact.brighterplanet.com/automobile_trips.json
    body:
      encoding: US-ASCII
      string: make=Nissan&model=Altima&key=carbon_test
    headers:
      content-type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    body:
      encoding: US-ASCII
      string: ! '{"compliance":[],"decisions":{"carbon":{"description":"4.0 kg","object":{"value":4.013703182098099,"units":"kilograms"},"methodology":"from
        co2 emission, ch4 emission, n2o emission, and hfc emission"},"co2_emission":{"description":"3.825618174704137","object":3.825618174704137,"methodology":"from
        fuel use and automobile fuel"},"co2_biogenic_emission":{"description":"0.0","object":0.0,"methodology":"from
        fuel use and automobile fuel"},"ch4_emission":{"description":"0.003940422073319416","object":0.003940422073319416,"methodology":"from
        fuel use and automobile fuel"},"n2o_emission":{"description":"0.013398860212759267","object":0.013398860212759267,"methodology":"from
        fuel use and automobile fuel"},"hfc_emission":{"description":"0.17074572510788322","object":0.17074572510788322,"methodology":"from
        fuel use and automobile fuel"},"energy":{"description":"56.5 MJ","object":{"value":56.5122465095761,"units":"megajoules"},"methodology":"from
        fuel use and automobile fuel"},"automobile_fuel":{"description":"fallback","object":{"automobile_fuel":{"annual_distance":17923.116724381467,"annual_distance_units":"kilometres","base_fuel_name":null,"blend_fuel_name":null,"blend_portion":null,"ch4_emission_factor":0.002420994361601003,"ch4_emission_factor_units":"kilograms_co2e_per_litre","co2_biogenic_emission_factor":0.0,"co2_biogenic_emission_factor_units":"kilograms_per_litre","co2_emission_factor":2.3504588742684827,"co2_emission_factor_units":"kilograms_per_litre","code":null,"distance_key":null,"ef_key":null,"emission_factor":null,"emission_factor_units":null,"energy_content":34.72111048394262,"energy_content_units":null,"hfc_emission_factor":0.1049061318970414,"hfc_emission_factor_units":"kilograms_co2e_per_litre","n2o_emission_factor":0.008232256449534075,"n2o_emission_factor_units":"kilograms_co2e_per_litre","name":"fallback"}},"methodology":"default"},"fuel_use":{"description":"1.6276048122283178
        l","object":{"value":1.6276048122283178,"units":"litres"},"methodology":"from
        fuel efficiency, distance, date, and timeframe"},"distance":{"description":"16.3348
        km","object":{"value":16.3348,"units":"kilometres"},"methodology":"from safe
        country"},"speed":{"description":"50.94382232429702 km/h","object":{"value":50.94382232429702,"units":"kilometres_per_hour"},"methodology":"from
        urbanity and safe country"},"fuel_efficiency":{"description":"10.036097139351897
        km/l","object":{"value":10.036097139351897,"units":"kilometres_per_litre"},"methodology":"from
        make model and urbanity"},"hybridity_multiplier":{"description":"1.0","object":1.0,"methodology":"default"},"urbanity":{"description":"0.43","object":0.43,"methodology":"from
        safe country"},"safe_country":{"description":null,"object":{"country":{"automobile_city_speed":32.0259,"automobile_city_speed_units":"kilometres_per_hour","automobile_fuel_efficiency":8.226530750610781,"automobile_fuel_efficiency_units":"kilometres_per_litre","automobile_highway_speed":91.8935,"automobile_highway_speed_units":"kilometres_per_hour","automobile_trip_distance":16.3348,"automobile_trip_distance_units":"kilometres","automobile_urbanity":0.43,"cooling_degree_days":null,"cooling_degree_days_units":null,"electricity[...]
[...]
- request:
    method: post
    uri: http://impact.brighterplanet.com/automobiles.json
    body:
      encoding: US-ASCII
      string: make=Nissan&model=Altima&year=2006&automobile_fuel%5Bcode%5D=R&timeframe=2011-01-01%2F2012-01-01&key=carbon_test
    headers:
      content-type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    body:
      encoding: US-AS[...]
