---
http_interactions:
- request:
    method: get
    uri: http://impact.brighterplanet.com/emitters.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    body:
      encoding: US-ASCII
      string: ! '{"emitters":["Automobile","AutomobileTrip","BusTrip","Computation","Diet","ElectricityUse","Flight","FuelPurchase","Lodging","Meeting","Motorcycle","Pet","Purchase","RailTrip","Residence","Shipment"]}'
  recorded_at: Thu, 06 Sep 2012 21:32:59 GMT
- request:
    method: get
    uri: http://impact.brighterplanet.com/computations/options.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
      etag:
      - d07a4c31cf07e29e3b7add6682629e19
    body:
      encoding: US-ASCII
      string: ! '["carrier","carrier_region","carrier_instance_class","zip_code","date","duration","electricity_intensity","power_usage_effectiveness"]'
  recorded_at: Thu, 06 Sep 2012 21:33:16 GMT
- request:
    method: post
    uri: http://impact.brighterplanet.com/computations.json
    body:
      encoding: US-ASCII
      string: timeframe
    headers:
      content-type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    body:
      encoding: US-ASCII
      string: ! '{"compliance":[],"decisions":{"carbon":{"description":"0.1 kg","object":{"value":0.09338533312344462,"units":"kilograms"},"methodology":"from
        co2 emission, ch4 emission, and n2o emission"},"co2_emission":{"description":"0.09292776157812689","object":0.09292776157812689,"methodology":"from
        electricity use, co2 emission factor, date, and timeframe"},"ch4_emission":{"description":"4.59118592601502e-05","object":4.59118592601502e-05,"methodology":"from
        electricity use, ch4 emission factor, date, and timeframe"},"n2o_emission":{"description":"0.00041165968605758226","object":0.00041165968605758226,"methodology":"from
        electricity use, n2o emission factor, date, and timeframe"},"co2_emission_factor":{"description":"0.5516490476149729","object":0.5516490476149729,"methodology":"from
        eGRID subregion"},"ch4_emission_factor":{"description":"0.0002725475466639885","object":0.0002725475466639885,"methodology":"from
        eGRID subregion"},"n2o_emission_factor":{"description":"0.002443744150279805","object":0.002443744150279805,"methodology":"from
        eGRID subregion"},"electricity_use":{"description":"0.1684544947188714","object":0.1684544947188714,"methodology":"from
        duration, electricity intensity, PUE, and electricity loss factor"},"electricity_loss_factor":{"description":"0.0650294","object":0.0650294,"methodology":"from
        eGRID region"},"egrid_region":{"description":"fallback","object":{"egrid_region":{"consumption":null,"consumption_units":null,"domestic_interchange":null,"domestic_interchange_units":null,"foreign_interchange":null,"foreign_interchange_units":null,"generation":null,"generation_units":null,"loss_factor":0.0650294,"name":"fallback"}},"methodology":"from
        eGRID subregion"},"egrid_subregion":{"description":null,"object":{"egrid_subregion":{"abbreviation":null,"ch4_emission_factor":0.0002725475466639885,"ch4_emission_factor_units":"kilograms_co2e_per_kilowatt_hour","co2_biogenic_emission_factor":null,"co2_biogenic_emission_factor_units":"kilograms_per_kilowatt_hour","co2_emission_factor":0.5516490476149729,"co2_emission_factor_units":"kilograms_per_kilowatt_hour","egrid_region_name":"fallback","electricity_emission_factor":0.554365536465505,"electricity_emission_factor_units":"kilograms_co2e_per_kilowatt_hour","n2o_emission_factor":0.002443744150279805,"n2o_emission_factor_units":"kilograms_co2e_per_kilowatt_hour","name":"fallback","nerc_abbreviation":null,"net_generation":null,"net_generation_units":null}},"methodology":"default"},"power_usage_effectiveness":{"description":"1.5","object":1.5,"methodology":"from
        carrier"},"electricity_intensity":{"description":"0.105","object":0.105,"methodology":"from
        carrier instance class"},"carrier_instance_class":{"description":"Amazon m1.small","object":{"computation_carrier_instance_class":{"computation_carrier_name":"Amazon","electricity_intensity":0.105,"electricity_intensity_units":"kilowatts","instance_class":"m1.small","name":"Amazon
        m1.small"}},"methodology":"default"},"carrier":{"description":"fallback","object":{"computation_carrier":{"name":"fallback","power_usage_effectiveness":1.5}},"methodology":"default"},"duration":{"description":"3,600.0
        s","object":{"value":3600.0,"units":"seconds"},"methodology":"default"},"date":{"description":"2012-01-01","object":"2012-01-01","methodology":"from
        timeframe"}},"emitter":"Computation","equivalents":{"cars_off_the_road_for_a_year":1.699613062846692e-05,"cars_off_the_road_for_a_month":0.00020376679687535615,"cars_off_the_road_for_a_week":0.0008829583246821688,"cars_off_the_road_for_a_day":0.006197611018070525,"cars_to_priuses_for_a_year":3.399226125693384e-05,"cars_to_priuses_for_a_month":0.0004075335937507123,"cars_to_priuses_for_a_week":0.0017659166493643377,"cars_to_priuses_for_a_day":0.01239522203614105,"one_way_domestic_flight":0.000303502332651195,"round_trip_domestic_flight":0.0001517511663255975,"one_way_cross_country_flight":0.00010664605042697375,"round_trip_cross_country_flight":5.3323025213486874e-05,"vegan_meals_instead_of_non_vegan_ones":0.07514596355510528,"days_of_veganism":0.025048654518368425,"weeks_of_veganism":0.003578339194624151,"months_of_veganism":0.0008349582634567183,"years_of_veganism":6.863821984573179e-05,"barrels_of_petroleum":0.00021721428484513218,"canisters_of_bbq_propane":0.003891086675254567,"railroad_cars_full_of_coal":4.669266656172231e-07,"homes_energy_in_a_year":9.058377312974127e-06,"homes_energy_in_a_month":0.00010823360109007232,"homes_energy_in_a_week":0.00046888775761281544,"homes_energy_in_a_day":0.0032915528366020525,"homes_electricity_in_a_year":1.3727643969146358e-05,"homes_electricity_in_a_month":0.00016426480096413907,"homes_electricity_in_a_week":0.0007117830090668949,"homes_electricity_in_a_day":0.004996021936771163,"homes_with_lowered_thermostat_2_degrees_for_a_winter":0.0004901796135649608,"homes_with_raised_thermostat_3_degrees_for_a_summer":0.0002203893861713293,"replaced_refrigerators":9.403903045530874e-05,"loads_of_cold_laundry":0.042822965127753014,"lightbulbs_for_a_year":0.00017238932494587875,"lightbulbs_for_a_month":0.0020979015086181833,"lightbulbs_for_a_week":0.008990953102459,"lightbulbs_for_a_day":0.06293695187321238,"lightbulbs_for_an_evening":0.3776218046246073,"lightbulbs_to_CFLs_for_a_day":1.0712676076775998,"lightbulbs_to_CFLs_for_a_week":0.1530382029867048,"lightbulbs_to_CFLs_for_a_month":0.03570896383574212,"lightbulbs_to_CFLs_for_a_year":0.002935007634736741,"days_with_lightbulbs_to_CFLs":0.023805975890494747,"weeks_with_lightbulbs_to_CFLs":0.0034008136763564825,"months_with_lightbulbs_to_CFLs":0.0007934951755499089,"years_with_lightbulbs_to_CFLs":6.518296252016435e-05,"recycled_kgs_of_trash":0.0644036619152492,"recycled_bags_of_trash":0.03568580427312751},"methodology":"http://impact.brighterplanet.com/computations?timeframe=2012-01-01%2F2013-01-01","scope":null,"timeframe":"2012-01-01/2013-01-01","characteristics":{},"errors":["No
        API key was specified. Please register at http://keys.brighterplanet.com"]}'
  recorded_at: Thu, 06 Sep 2012 21:33:17 GMT
[...]
